/*--------------------
Header Component Style
----------------------*/
.header {
  text-align: center;
  padding: 25px 0px;
  background-color: #2dde98;
}
.header-info p {
  color: white;
}
.header h1 {
  color: white;
  font-weight: 900;
  font-size: 52px;
  line-height: 12px;
}