.body {
  background-color: #f1f3f6;
}
.container {
  width: 1140px !important;
  margin: auto;
}
.person {
  display: flex;
  justify-content: space-between;
}
.per-person {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
}
.single-person {
  height: 340px;
  width: 180px;
  padding: 20px 25px;
  margin: 20px;
  word-wrap: break-word;
  background-color: #ffffff;
}
.cart-person {
  padding: 20px 25px;
  margin: 20px;
  width: 30% !important ;
  background-color: #ffffff;
  height: 100%;
}
