@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Josefin Sans', sans-serif;
}
.body {
  background-color: #f1f3f6;
}
.container {
  width: 1140px !important;
  margin: auto;
}
.person {
  display: flex;
  justify-content: space-between;
}
.per-person {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
}
.single-person {
  width: 220px;
  padding: 20px;
  margin: 20px;
  word-wrap: break-word;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.single-person img{
  border-radius: 100%;
  display: block;
  margin: auto;
}
.single-person p{
  line-height: 12px;
  font-size: 16px;
}
.single-person p:nth-child(2) {
  font-size: 20px!important;
}
.cart-person {
  padding: 20px 25px;
  margin: 20px;
  width: 160px;
  background-color: white;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
button{
  padding: 7px 35px;
  border: 1px solid black;
  color: white;
  background-color: black;
  cursor: pointer;
  width: 100%;
}
button span{
  padding-left: 10px;
}