.body {
  background-color: #f1f3f6;
}
.container {
  width: 1140px;
  margin: auto;
}
.person {
  display: flex;
  justify-content: space-between;
}
.per-person {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.single-person {
    width: 70%;
  padding: 20px 25px;
  margin: 40px;
  
  background-color: #ffffff;
}
.cart-person {
  padding: 20px 25px;
  margin: 40px;
  width: 30%;
  background-color: #ffffff;
}
